.custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: background 0.3s, transform 0.1s;
    z-index: 0;
  }
  
  .custom-cursor-hover {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    transform: translate(-50%, -50%) scale(1.5);
  }
  

  /*Media Queries*/
  @media screen and (max-width: 768px) {
    .custom-cursor {
      display: none;
    }
  }

  body {
    cursor: default;
  }