footer {
  position: relative;
  background: linear-gradient(to bottom, #000000c4, var(--tertiary-color));
  color: var(--list-font-color);
  padding: 40px 40px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-left: 20px;
  margin-right: 20px;
}

 .footer-links {
  display: flex;
}

.footer-section .left {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.footer-section .right {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--list-font-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section p a {
  color: var(--list-font-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section p a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: var(--list-font-color);
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--primary-color);
}

.footer-section table {
  width: 90%;
  color: var(--list-font-color);
}

.footer-section table td {
  padding: 5px 0;
}

.footer-section table tr td a {
  color: var(--list-font-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section table tr td a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth .horizontal-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 90%;
  height: 1px;
  background-color: var(--list-font-color);
}

.auth p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-section {
      max-width: 100%;
  }

  .footer-section table td {
      display: block;
  }
}
