footer {
  position: relative;
  background: linear-gradient(to bottom, #000000c4, var(--tertiary-color));
  color: var(--list-font-color);
  padding: 40px 40px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
  cursor: default;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-left: 20px;
  margin-right: 20px;
}

 .footer-links {
  display: flex;
}

.footer-section .left {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.footer-section .right {
  width: 180px;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}

.contact-info {
  display: flex;
  flex-direction: row;
}

.contact-info .right {
  margin-left: -20px;
}

.footer-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--list-font-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section p a {
  color: var(--list-font-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section p a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.footer-logo {
  max-width: 100px;
}

.social-links a {
  color: var(--list-font-color);
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--primary-color);
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth .horizontal-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 90%;
  height: 1px;
  background-color: var(--list-font-color);
}

.auth p {
  margin: 5px 0;
}



/*Media Queries*/
@media (max-width: 768px) {
  footer {
    padding: 10px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-section .left {
    width: 100%;
  }

  .footer-section .right {
    width: 250px;
    margin-left: -30px;
  }

  .footer-section h3 {
    font-size: 20px;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .social-links {
    margin-top: 10px;
  }

  .social-links a {
    font-size: 20px;
  }

  .auth .horizontal-line {
    width: 100%;
  }

  .auth p {
    font-size: 12px;
    text-align: center;
  }

  .contact-info .right {
    margin-left: -50px;
  }

  .footer-section ul li {
    font-size: 14px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}