.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-colage {
  background: rgba(0, 0, 0, 0.055);
  border: 1px solid var(--section-border-color);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.colage-title {
  padding: 20px;
}

.colage-title h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--title-color);
}

.colage-title p {
  font-size: 1em;
  color: var(--list-font-color);
}

.colage-img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.colage-img img {
    width: 140px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
}

.colage-img img:hover {
  filter:grayscale(100%);
}

.see-more-btn {
  text-align: center;
}

.see-more-btn button {
    margin-top: 10px;
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.see-more-btn button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.more-images p {
  text-align: center;
  font-size: 3em;
  color: var(--title-color);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.596);
  width: 140px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}

.all-images-model {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.image_section {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.model-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.model-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.close {
  position: absolute;
  right: 15px;
  top: 5px;
  color: var(--secondary-color);
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--primary-color);
} 




/* Media Queries */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .colage-img img {
    width: 120px;
    height: 70px;
  }

  .colage-title h2 {
    font-size: 1.2em;
  }

  .colage-title p {
    font-size: 0.9em;
  }

  .more-images p {
    font-size: 2em;
    width: 120px;
    height: 70px;
  }

  .see-more-btn button {
    padding: 5px 12px;
  }
}