#location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    animation: fadeInUp 1s ease-in-out;
    z-index: 1000;
    cursor: none;
    --transparent-color: #00000005;
    background: linear-gradient(to bottom, var(--transparent-color), var(--transparent-color), var(--transparent-color), #000000c4);
}

#location .map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: contrast(1.2);
    opacity: 0.9;
}

#location .map:hover {
    filter: contrast(2.5);
    opacity: 1;
}

.place-card {
    position: absolute;
    cursor: pointer;
    left: 50px;
    top: 10px;
    transition: 0.5s;
    width: 220px;
    height: 300px;
    background: #ffffff0e;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 1000;
    visibility: hidden; 
}

.place-img {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.place-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-info-div {
    padding-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.place-info-div h1 {
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-size: 20px;
}

.place-info-div p {
    margin: 10px 0 0 0;
    padding: 0;
    color: #bdbdbd;
    font-size: 14px;
}

.place-distance {
    display: flex;
    width: 220px;
    gap: 5px;
}

.place-distance p {
    width: 40%;
    text-align: center;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.place-distance a{
    color: var(--primary-color);
    font-size: 18px;
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 5px;
    border-radius: 50px;
}

.place-distance a:hover {
    color: var(--secondary-color);
}

.place-info-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background: #00000000;
    color: var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    z-index: 1000;
}

.icon-dfec {
    border: 1px solid #ff0000b0;
}

.place-info-icon::after {
    height: 0;
    width: 0;
    content: '';
    position: absolute;
    top: 39px;
    left: 10px;
    border: medium solid rgb(255, 255, 255);
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent ;
}

.icon-dfec::after {
    border-color: #ff0000b0 transparent transparent transparent;
}

.place-info-icon:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.place-info-icon:hover .map {
    filter: contrast(2.5);
    opacity: 1;
}

.place-info-icon:hover + .place-card {
    visibility: visible;
    animation: zoomIn 0.5s;
}

.place-card:hover {
    visibility: visible;
}

.icon-bus {
    left: 2%;
    top: 0px;
}

.card-bus {
    left: 80px;
    top: 0px;
}

.icon-train {
    left: 94%;
    top: 72%;
}

.card-train {
    left: 920px;
    top: 80px;
}

.icon-mosque {
    left: 52.5%;
    top: 35%;
    z-index: 999;
}

.card-mosque {
    left: 400px;
    top: 70px;
}

.icon-dfec {
    left: 55%;
    top: 32%;
}

.card-dfec {
    left: 730px;
    top: 60px;
}

.icon-wisdom {
    left: 40.5%;
    top: 27%;
}

.card-wisdom {
    left: 255px;
    top: 35px;
}

.icon-minhath {
    left: 50%;
    top: 5%;
}

.card-minhath {
    left: 670px;
    top: 25px;
}

/*loop animation blinking*/
.animation1 {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

/*when hover on the icon, place card will appear zoom in*/
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/*Media Queries*/
@media (max-width: 768px) {
    #location {
        cursor: pointer;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 280px;
        padding-bottom: 300px;
        background: #00000000;
    }

    #location .map {
        border-radius: 0;
        transform: rotate(90deg);
        width: 340%;
        background: #00000000;
        filter: contrast(1.8);
    }

    .place-card {
        width: 230px;
        height: 300px;
        z-index: 1500;
    }

    .place-info-div h1 {
        font-size: 16px;
    }

    .place-info-div p {
        font-size: 14px;
    }

    .place-distance p {
        font-size: 14px;
    }

    .place-distance a {
        font-size: 18px;
    }

    .place-info-icon {
        width: 30px;
        height: 30px;
    }

    .place-info-icon::after {
        top: 30px;
        left: 7px;
        border-width: 8px 8px 0 8px;
    }

    .icon-bus {
        left: 88%;
        top: -30px;
    }

    .card-bus {
        left: 60px;
        top: 0px;
    }

    .icon-train {
        left: 10%;
        top: 94%;
    }

    .card-train {
        left: 20px;
        top: 550px;
    }

    .icon-mosque {
        left: 48%;
        top: 50%;
    }

    .card-mosque {
        left: 20px;
        top: 150px;
    }

    .icon-dfec {
        left: 52%;
        top: 52%;
    }

    .card-dfec {
        left: 20px;
        top: 150px;
    }

    .icon-wisdom {
        left: 57%;
        top: 37%;
    }

    .card-wisdom {
        left: 60px;
        top: 400px;
    }

    .icon-minhath {
        left: 82%;
        top: 47%;
    }

    .card-minhath {
        left: 40px;
        top: 350px;
    }
}