#mouse-scroll {
    position: absolute;
    margin: auto;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  #mouse-scroll span {
    display: block;
    width: 4px;
    height: 5px;
    transform: rotate(45deg);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    margin: 0 0 3px 5px;
  }
  
  #mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    transform: none;
    border: 2px solid var(--secondary-color);
    top: 170px;
  }
  
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  
  #mouse-scroll .down-arrow-1,
  #mouse-scroll .down-arrow-2,
  #mouse-scroll .down-arrow-3 {
    animation: mouse-scroll 1s infinite;
  }
  
  #mouse-scroll .down-arrow-1 {
    animation-delay: 0.1s;
    animation-direction: alternate;
  }
  
  #mouse-scroll .down-arrow-2 {
    animation-delay: 0.2s;
    animation-direction: alternate;
  }
  
  #mouse-scroll .down-arrow-3 {
    animation-delay: 0.3s;
    animation-direction: alternate;
  }
  
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: var(--secondary-color);
    position: relative;
    animation: animated-mouse 1.2s ease infinite;
  }
  
  @keyframes animated-mouse {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(6px);
    }
  }
  
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  /*media queries*/
  @media screen and (max-width: 768px) {
    #mouse-scroll .mouse{
      display: none;
    }

    #mouse-scroll span {
      width: 15px;
      height: 15px;
      margin: 0 0 2px 3px;
    }
  }
  