.nav {
    position: fixed;
    top: 10px;
    left: 10%;
    width: 80%;
    background: rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px 0;
    text-align: center;
    z-index: 10000;
    transition: background 0.3s;
    border-radius: 50px;
    border-bottom: 1px solid #ffffff38;
  }
  
  .nav a {
    color: #ffffffb2;
    margin: 0 25px;
    text-decoration: none;
    font-family: 'chakra petch', sans-serif;
    transition: color 0.3s, font-size 0.3s;
    font-size: 22px;
    font-weight: 100;
  }

  .nav:hover a {
    color: #ffffff;
  }
  
  .nav a:hover {
    color: #00a7b3;
  }

  .menu-icon {
    display: none;
  }

  .menu-icon img {
    visibility: hidden;
  }

  /*Media Queries*/
    @media (max-width: 768px) {
      .nav {
        top: 0;
        left: 0;
        width:100%;
        height: auto;
        padding: 10px 0;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      .nav .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.918);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
      }
    
      .nav .menu a {
        margin: 10px;
        font-size: 24px;
      }
    
      .nav .menu-icon {
        cursor: pointer;
        font-size: 30px;
        color: #ffffffbe;
        margin: 0 20px;

      }

      .menu-icon .menu-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 90px;
      }
    
      .nav.open .menu {
        display: flex;
      }

      .nav.open .menu-icon {
        color: #00a7b3;
      }

      .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      .menu-icon .fa-bars {
        margin-right: 10px;
        margin-bottom: 5px;
      }

      .menu-icon img {
        visibility: visible;
        height: 40px;
        opacity: 0.8;
      }
    }
    
  @media screen and (max-width: 768px) {
    .nav a {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 768px) {
    .nav a {
      margin: 0 15px;
    }
  }