  .testimonials-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .testimonial {
    background: #f9f9f938;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 280px;
  }
  
  .testimonial-navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .testimonial-navigation button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .testimonial-navigation button:hover {
    background: #0056b3;
  }
  
  .btn {
    text-align: center;
  }
  
  #testimonials button {
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  #testimonials button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .feedback-div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1009;
  }